<nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    <div class="container">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="navbar-nav" href="{{ path('app_admin_index') }}">
                <i class="bi-person-lines-fill" style="font-size: 1rem; color: cornflowerblue;"></i>
            </a>
        {% endif %}
        <a class="navbar-nav" href="{{ path('app_accueil') }}">
            <i class="bi-house" style="font-size: 1rem; color: cornflowerblue;"></i>
        </a>
        <a class="navbar-nav" href="{{ path('app_lecon_index') }}">
            <i class="bi-journals" style="font-size: 1rem; color: cornflowerblue;"></i>
        </a>
        {%  if app.user %}
            {% if is_granted('ROLE_ELEVE') %}
                <a class="navbar-nav" href="{{ path('app_lecon_meslecons') }}">
                    <i class="bi-journal-bookmark-fill" style="font-size: 1rem; color: cornflowerblue;"></i>
                </a>
            {% endif %}
            {% if is_granted('ROLE_PROFESSEUR') %}
                <a class="navbar-nav" href="{{ path('app_lecon_new') }}">
                    <i class="bi-plus" style="font-size: 1rem; color: cornflowerblue;"></i>
                </a>
            {% endif %}
            <a class="navbar-nav" href="{{ path('app_logout') }}">
                <i class="bi-person-fill-x" style="font-size: 1rem; color: cornflowerblue;"></i>
            </a>
        {% else %}
            <a class="navbar-nav" href="{{ path('app_register') }}">
                <i class="bi-person-fill-add" style="font-size: 1rem; color: cornflowerblue;"></i>
            </a>
            <a class="navbar-nav" href="{{ path('app_login') }}">
                <i class="bi-person-fill-check" style="font-size: 1rem; color: cornflowerblue;"></i>
            </a>
        {%  endif %}
    </div>
</nav>